/* css here */

section#main h1,
section#main h2 {
  font-family: 'Raleway', sans-serif;
}

section#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  color: white;
  background-color: transparent;
}

section#main h1{
  font-size: 64px;
  position: relative;
  animation: animatetop .4s;
  text-align: center;
}

section#main .w3-border-grey {
  margin: auto;
  width: 40%;
}

div:has(section#main){
  min-height: 400px;
}